{#
 # Collection: Case Studies Gallery
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% for post in posts %}
	{% if loop.index == 8 and push.link.url %}
		<div class="sm:col-6/12 lg:col-3/12">
			<article class="pb-2.5 border-b border-theme-red lg:h-full">
				<div class="lg:h-[21.75rem] bg-theme-red  relative  pb-[100%] lg:pb-0">
					<div class="absolute flex flex-col inset-0 m-auto items-center justify-center">
						<p class="font-bold text-xl">{{- __( 'Your company', 'creatorfund' ) -}}</p>
						<p class="text-lg font-light mt-2">{{- __( 'University', 'creatorfund' ) -}}</p>
						<a class="button text-sm mt-6" href="{{ push.link.url }}"{{ push.link.target ? 'rel="noopener noreferer" target="_blank"' }}>
							{{- push.link.title | default( __( 'Apply for funding', 'creatorfund' ) ) -}}{{- icon( 'arrow-right' ) -}}
						</a>
					</div>
				</div>
				<div class="mt-4 flex justify-between">
					<div class="font-light">
						<p class="text-lg">{{- __( 'Company', 'creatorfund' ) -}}</p>
						<p class="text-sm">{{- __( 'University', 'creatorfund' ) -}}</p>
					</div>
					<p class="button-circle flex-shrink-0 ml-3">{{- icon( 'arrow-right' ) -}}</p>
				</div>
			</article>
		</div>
	{% else %}
		<div class="sm:col-6/12 lg:col-3/12">
			{{- include( 'components/tease-case-study.html.twig', { post: post, classes: [ 'h-full' ] } ) -}}
		</div>
	{% endif %}

{% endfor %}
