{#
 # Collection: Case Studies List
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% for post in posts %}
	<article class="py-4 border-theme-black js-accordion-panel" data-accordion-open="false" data-accordion-deselect="true">
		<div class="row items-center relative">
			<div class="col-11/12 lg:col-3/12 flex lg:block justify-between font-medium text-lg">
				{{- post.title -}}
			</div>

			<div class="lg:col-4/12 font-light mt-3 lg:mt-0 lg:transition-opacity lg:duration-1000 lg:ease-in-out lg:is-active:opacity-0 ">
				{{- post.meta( 'list_excerpt' ) | default( post.excerpt( { force: false, read_more: false } ) | nl2br ) -}}
			</div>

			<div class="col-6/12 mt-3 lg:mt-0 lg:col-2/12 font-light text-sm lg:text-center lg:transition-opacity lg:duration-1000 lg:ease-in-out lg:is-active:opacity-0">
				{{- post.terms( { taxonomy: 'university' } ) | join( ' ' ) -}}
			</div>
			<div class="col-6/12 mt-3 lg:mt-0 lg:col-2/12 font-light text-sm lg:text-center lg:transition-opacity lg:duration-1000 lg:ease-in-out lg:is-active:opacity-0 ">
				{{- post.terms( { taxonomy: 'sector' } ) | join( ' ' ) -}}
			</div>

			<div class="col-1/12 pointer-events-none absolute top-0 right-0 lg:relative">
				<button
					class="button-circle pointer-events-auto button-circle-black js-accordion-header is-active:bg-theme-red ml-auto lg:mx-auto"
					type="button"
					aria-expanded="false"
					aria-controls="{{ post.slug }}">
					{{- icon( 'plus', { classes: [ 'is-active:hidden', 'block' ] } ) -}}
					{{- icon( 'minus', { classes: [ 'is-active:block', 'hidden' ] } ) -}}
				</button>
			</div>

		</div>

		<div id="{{ post.slug }}" class="js-accordion-body" role="region">
			<div class="row js-accordion-inner pt-5 lg:pt-14 lg:pb-4">
				<div class="col-6/12 lg:col-2/12">
					<div class="{{ html_classes( 'w-full', 'min-h-[7rem]', post.meta( 'logo' ) ? '' : 'bg-theme-gray' ) }}">
						{{- include( 'components/image.html.twig', { image: post.meta( 'logo' ), classes: [ 'w-full', 'h-full', 'object-contain', 'object-center' ] } ) -}}
					</div>
				</div>
				<div class="lg:col-4/12 lg:ml-1/12 mt-4 lg:mt-0">
					<div class="font-light">
						{{- post.meta( 'list_excerpt' ) | default( post.excerpt( { read_more: false } ) | nl2br ) -}}
					</div>
					<div class="row mt-5 lg:mt-7">
						<div class="col-6/12">
							<a href="{{ post.link }}" class="button w-full">
								{{- __( 'View profile', 'creatorfund' ) -}}
								{{- icon( 'arrow-right' ) -}}
							</a>
						</div>
					</div>
				</div>
				<div class="hidden lg:block col-2/12 text-center text-lg font-light">
					{{- post.terms( { taxonomy: 'university' } ) | join( ' ' ) -}}
				</div>
				<div class="hidden lg:block col-2/12 text-center text-sm font-light">
					{{- post.terms( { taxonomy: 'sector' } ) | join( ' ' ) -}}
				</div>
			</div>
		</div>
	</article>
{% endfor %}
