{#
 # Contact
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if 'none' != post.meta( 'contact' ).type %}
	<div style="background: linear-gradient( to top, #11283E, #11283E 50%, transparent 50% );">
		<div class="container">
			<div class="row">

				{%- if 'apply' == post.meta( 'contact' ).type and apply_permalink -%}
					<div class="lg:col-10/12 lg:ml-1/12">
						<div class="bg-theme-pink py-8 px-6 lg:px-0 lg:py-14">
							<div class="row items-end">
								<div class="lg:ml-1/10 lg:col-5/10">
									<h2 class="text-xl font-medium">{{- post.meta( 'contact' ).title -}}</h2>
									<p class="font-light mt-4 text-sm">{{- post.meta( 'contact' ).content | nl2br -}}</p>
								</div>

								<div class="lg:ml-1/10 lg:col-2/10 mt-6 lg:mt-0">
									<a class="button w-full" href="{{ apply_permalink }}">
										{{- __( 'Apply for funding', 'creatorfund' ) -}}{{- icon( 'arrow-right' ) -}}
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{%- if 'newsletter' == post.meta( 'contact' ).type and apply_permalink -%}
					{% import 'macros/forms.html.twig' as forms %}

					<div>
						<form
							action="https://thecreatorfund.us4.list-manage.com/subscribe/post?u={{ mailchimp_user_id }}&amp;id={{ mailchimp_id }}&amp;f_id={{ mailchimp_form_id }}"
							method="post"
							novalidate
							class="bg-theme-pink py-8 px-6 lg:px-0 lg:py-14 validate"
						>
							<input type="hidden" value="Y" name="gdpr[60033]">

							<div class="row">
								<div class="lg:ml-3/12 lg:col-6/12 text-center">
									<h2 class="text-xl font-medium">{{- post.meta( 'contact' ).title -}}</h2>
									<p class="font-light mt-4 text-sm">{{- post.meta( 'contact' ).content | nl2br -}}</p>
								</div>
							</div>

							<div class="row mt-6">
								<div class="lg:col-3/12 lg:ml-2/12">
									<input
										type="text"
										class="w-full bg-transparent px-4 py-[0.6875rem] border border-current placeholder:text-theme-black"
										placeholder="{{ __( 'Name', 'creatorfund' ) }}"
										name="FNAME"
										id="mce-FNAME"
									>
								</div>
								<div class="lg:col-3/12 mt-3 lg:mt-0">
									<input
										type="email"
										class="w-full bg-transparent px-4 py-[0.6875rem] border border-current placeholder:text-theme-black"
										placeholder="{{ __( 'Email', 'creatorfund' ) }}"
										name="EMAIL"
										id="mce-EMAIL"
										required
										pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
									>
								</div>
								<div class="lg:col-2/12 mt-3 lg:mt-0">
									<button class="button w-full justify-center" type="submit">{{- __( 'Subscribe' ) -}}</button>
								</div>
							</div>

							<div class="row mt-3">
								<div class="lg:ml-2/12 lg:col-8/12 gap-y-3 flex flex-col">
									{# {{- forms.checkbox( { name: 'gdpr[60033]', value: 'Y', title: __( 'I would like to receive email updates from Creator Fund', 'creatorfund' ) } ) -}} #}
									{{- forms.checkbox( { name: 'gdpr[60145]', value: 'Y', title: __( 'I would like to join a startup in the future', 'creatorfund' ) } ) -}}
									{{- forms.checkbox( { name: 'gdpr[60149]', value: 'Y', title: __( 'I would like to found a company in the future', 'creatorfund' ) } ) -}}
								</div>
							</div>

							<div class="row mc-status mt-8" style="display: none;">
								<div class="lg:ml-2/12 lg:col-8/12 text-theme-error flex items-center mc-status-error-container">
									<span class="bg-theme-error text-white w-3 h-3 flex rounded-full items-center justify-center mr-2">
										{{- icon( 'exclamation', { classes: [ 'w-0.5', 'h-1.5' ] } ) -}}
									</span>
									<span class="mc-status-error flex-shrink-0"></span>
								</div>
								<div class="lg:ml-2/12 lg:col-8/12 mc-status-success-container">
									<span class="mc-status-success text-xl font-medium text-center"></span>
								</div>
							</div>

						</form>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endif %}
