{#
 # Network
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% set members = get_posts( members ) %}

{% set coordinates = [
	{ cx: 1153, cy: 605, r: 38 },
	{ cx: 1299, cy: 546, r: 33 },
	{ cx: 1084, cy: 310, r: 30 },
	{ cx: 1003, cy: 233, r: 30 },
	{ cx: 861, cy: 335, r: 30 },
	{ cx: 803, cy: 432, r: 30 },
	{ cx: 840, cy: 678, r: 31 },
	{ cx: 998, cy: 757, r: 31 },
	{ cx: 992, cy: 628, r: 31 },
	{ cx: 1217, cy: 820, r: 35 },
	{ cx: 1057, cy: 447, r: 38 },
	{ cx: 1278, cy: 186, r: 38 },
	{ cx: 913, cy: 454, r: 30 },
	{ cx: 998, cy: 988, r: 31 },
	{ cx: 840, cy: 922, r: 31 },
	{ cx: 728, cy: 1004, r: 31 },
	{ cx: 583, cy: 1111, r: 31 },
] %}

<div class="network" data-module-network>
	<svg id="network" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1200" height="1200" viewBox="0 0 1000 1200">
        <defs>
          	<!-- IMAGES -->
			{% for member in members %}
				{% set image = get_image( member.avatar ) %}

				{% if image %}
					<pattern id="pattern-{{ member.id }}" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 307 298">
						<image width="307" height="298" xlink:href="{{ image.src( 'thumbnail' ) }}"/>
					</pattern>
				{% endif %}
			{% endfor %}
        </defs>



        <g id="network__group" transform="translate(-539 -113)" data-network="network-group">
			<line y1="2" x2="151" transform="translate(912 448)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="71" y2="148" transform="translate(906 454)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="88" y1="21" transform="translate(821 426)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="41" y1="103" transform="translate(859 342)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="84" y1="68" transform="translate(996 235)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="22" y2="87" transform="translate(969.5 135.5)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="58" y2="193" transform="translate(995.5 237.5)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="40" y2="51" transform="translate(1003 175)" fill="none" stroke="#ff8a7c" stroke-width="1"/>

			<circle cx="21" cy="21" r="21" transform="translate(1280 678)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="21" cy="21" r="21" transform="translate(819 764)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="21" cy="21" r="21" transform="translate(707 840)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="10" cy="10" r="10" transform="translate(722.045 438.7) rotate(31)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="10" cy="10" r="10" transform="matrix(0.891, -0.454, 0.454, 0.891, 787.328, 501.094)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="10" cy="10" r="10" transform="translate(1286 288)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1271 669)" fill="none" stroke="#ff8a7c" stroke-width="1">
				<circle cx="30" cy="30" r="30" stroke="none"/>
				<circle cx="30" cy="30" r="29.5" fill="none"/>
			</g>

			<g transform="translate(954 113)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="15" cy="15" r="15" stroke="none"/>
				<circle cx="15" cy="15" r="14.5" fill="none"/>
			</g>

			<g transform="translate(1033 154)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="15" cy="15" r="15" stroke="none"/>
				<circle cx="15" cy="15" r="14.5" fill="none"/>
			</g>

			<g transform="translate(1281 283)" fill="none" stroke="#ff8a7c" stroke-width="1">
				<circle cx="15" cy="15" r="15" stroke="none"/>
				<circle cx="15" cy="15" r="14.5" fill="none"/>
			</g>

			<line y1="87" x2="54" transform="translate(815 337)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="110" x2="19" transform="translate(1065 317)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="66" x2="78" transform="translate(1218 298)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<path d="M0,124,155.354,24.948" transform="translate(1099 179)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="180" x2="58" transform="translate(1213 184)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="153" y2="46" transform="translate(1218 369)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="221" x2="56" transform="translate(1156 372)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="52" y2="183" transform="translate(1156 618)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="164" y2="87" transform="translate(834 678)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y2="139" transform="translate(992 623)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="59" x2="142" transform="translate(1153 546)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="251" x2="75" transform="translate(1220 555)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="133" y2="86" transform="translate(1162 611)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="104" y2="128" transform="translate(1109 820)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="111" y2="45" transform="translate(998 952)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="98" y2="75" transform="translate(736 922)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="148" y2="23" transform="translate(840 762)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="164" y1="1" transform="translate(670 785)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="113" y2="76" transform="translate(727 785)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="102" x2="129" transform="translate(593 1005)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="118" y2="211" transform="translate(727 786)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="144" y1="95" transform="translate(1203 810)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="115" y1="187" transform="translate(995 762)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line y1="173" x2="193" transform="translate(1162 420)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x2="61" y2="78" transform="translate(756 348)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="52" y2="62" transform="translate(762.545 396.537) rotate(31)" fill="none" stroke="#ff8a7c" stroke-width="1"/>
			<line x1="38" y2="54" transform="matrix(0.891, -0.454, 0.454, 0.891, 778.918, 453.752)" fill="none" stroke="#ff8a7c" stroke-width="1"/>

			<g transform="translate(1105 557)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="48" cy="48" r="48" stroke="none"/>
				<circle cx="48" cy="48" r="47.5" fill="none"/>
			</g>

			<line x1="145" y2="57" transform="translate(826 621)" fill="none" stroke="#ff8a7c" stroke-width="1"/>

			<g transform="translate(796 634)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="44" cy="44" r="44" stroke="none"/>
				<circle cx="44" cy="44" r="43.5" fill="none"/>
			</g>

			<g transform="translate(954 713)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="44" cy="44" r="44" stroke="none"/>
				<circle cx="44" cy="44" r="43.5" fill="none"/>
			</g>

			<g transform="translate(948 584)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="44" cy="44" r="44" stroke="none"/>
				<circle cx="44" cy="44" r="43.5" fill="none"/>
			</g>

			<g transform="translate(1168 771)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="49" cy="49" r="49" stroke="none"/>
				<circle cx="49" cy="49" r="48.5" fill="none"/>
			</g>

			<g transform="translate(725 317)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="25" cy="25" r="25" stroke="none"/>
				<circle cx="25" cy="25" r="24.5" fill="none"/>
			</g>

			<circle cx="17" cy="17" r="17" transform="translate(733 325)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1252 499)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="47" cy="47" r="47" stroke="none"/>
				<circle cx="47" cy="47" r="46.5" fill="none"/>
			</g>

			<circle cx="10" cy="10" r="10" transform="translate(1038 159)" fill="#ff8a7c" class="network__node" data-network="node" />
			<circle cx="10" cy="10" r="10" transform="translate(959 118)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1188 345)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="24" cy="24" r="24" stroke="none"/>
				<circle cx="24" cy="24" r="23.5" fill="none"/>
			</g>

			<circle cx="16" cy="16" r="16" transform="translate(1196 353)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1334 384)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="31" cy="31" r="31" stroke="none"/>
				<circle cx="31" cy="31" r="30.5" fill="none"/>
			</g>

			<circle cx="21" cy="21" r="21" transform="translate(1344 394)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1079 922)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="30" cy="30" r="30" stroke="none"/>
				<circle cx="30" cy="30" r="29.5" fill="none"/>
			</g>

			<circle cx="21" cy="21" r="21" transform="translate(1088 931)" fill="#ff8a7c" class="network__node" data-network="node" />
			<line x1="149" y1="75" transform="translate(845 922)" fill="none" stroke="#ff8a7c" stroke-width="1"/>

			<g transform="translate(655 770)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="15" cy="15" r="15" stroke="none"/>
				<circle cx="15" cy="15" r="14.5" fill="none"/>
			</g>

			<circle cx="10" cy="10" r="10" transform="translate(660 775)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(1322 875)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="30" cy="30" r="30" stroke="none"/>
				<circle cx="30" cy="30" r="29.5" fill="none"/>
			</g>

			<circle cx="21" cy="21" r="21" transform="translate(1331 884)" fill="#ff8a7c" class="network__node" data-network="node" />

			<g transform="translate(-11 -1)">
				<g transform="translate(1050 266)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
					<circle cx="45" cy="45" r="45" stroke="none"/>
					<circle cx="45" cy="45" r="44.5" fill="none"/>
				</g>
			</g>

			<g transform="translate(-92 -78)">
				<g data-name="Ellipse 764" transform="translate(1050 266)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
					<circle cx="45" cy="45" r="45" stroke="none"/>
					<circle cx="45" cy="45" r="44.5" fill="none"/>
				</g>
			</g>

			<g transform="translate(-234 24)">
				<g data-name="Ellipse 764" transform="translate(1050 266)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
					<circle cx="45" cy="45" r="45" stroke="none"/>
					<circle cx="45" cy="45" r="44.5" fill="none"/>
				</g>
			</g>

			<g transform="translate(-292 121)">
				<g data-name="Ellipse 764" transform="translate(1050 266)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
					<circle cx="45" cy="45" r="45" stroke="none"/>
					<circle cx="45" cy="45" r="44.5" fill="none"/>
				</g>
			</g>

			<g data-name="Ellipse 764" transform="translate(868 409)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="45" cy="45" r="45" stroke="none"/>
				<circle cx="45" cy="45" r="44.5" fill="none"/>
			</g>

			<g data-name="Composant 84 – 1" transform="translate(1010 400)">
				<g data-name="Ellipse 756" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
					<circle cx="47" cy="47" r="47" stroke="none"/>
					<circle cx="47" cy="47" r="46.5" fill="none"/>
				</g>
			</g>

			<g data-name="Ellipse 756" transform="translate(1231 139)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="47" cy="47" r="47" stroke="none"/>
				<circle cx="47" cy="47" r="46.5" fill="none"/>
			</g>

			<g data-name="Ellipse 811" transform="translate(796 878)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
				<circle cx="44" cy="44" r="44" stroke="none"/>
				<circle cx="44" cy="44" r="43.5" fill="none"/>
			</g>

          	<g data-name="Ellipse 812" transform="translate(684 960)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
            	<circle cx="44" cy="44" r="44" stroke="none"/>
            	<circle cx="44" cy="44" r="43.5" fill="none"/>
          	</g>

          	<g data-name="Ellipse 813" transform="translate(539 1067)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
            	<circle cx="44" cy="44" r="44" stroke="none"/>
            	<circle cx="44" cy="44" r="43.5" fill="none"/>
          	</g>

          	<g data-name="Ellipse 810" transform="translate(954 944)" fill="#fffcf7" stroke="#ff8a7c" stroke-width="1" class="network__bg" data-network="bg">
            	<circle cx="44" cy="44" r="44" stroke="none"/>
            	<circle cx="44" cy="44" r="43.5" fill="none"/>
          	</g>

			<g id="network__members" data-network="members">
				{% for member in members %}
					<circle
						class="network__member"
						cx="{{ coordinates[ loop.index0 ].cx }}"
						cy="{{ coordinates[ loop.index0 ].cy }}"
						r="{{ coordinates[ loop.index0 ].r }}"
						fill="url(#pattern-{{ member.id }})"
						data-name="{{ member.title }}"
						data-role="{{ [ member.job_title ] | join( ', ' ) }}"
						data-description="{{ member.meta( 'network_excerpt' ) | default( member.excerpt( { read_more: false } ) ) }}"
						data-network="member"
						data-color="{{ member.color }}"
					/>
				{% endfor %}
			</g>

			<foreignObject width="1000" height="1200" transform="translate(439 113)">
				<div class="network__tooltip" data-network="tooltip">
					<p class="network__tooltip__name" data-network="tooltip-name"></p>
					<p class="network__tooltip__role" data-network="tooltip-role"></p>
					<p class="network__tooltip__description" data-network="tooltip-description"></p>
				</div>
			</foreignObject>
        </g>
	</svg>


	<div class="network__tooltip__mobile" data-network="tooltip-mobile">
		<img src="" class="network__tooltip__img" alt="" data-network="tooltip-mobile-img" />
		<p class="network__tooltip__name" data-network="tooltip-mobile-name"></p>
		<p class="network__tooltip__role" data-network="tooltip-mobile-role"></p>
		<p class="network__tooltip__description" data-network="tooltip-description"></p>
	</div>


    </div>
