{#
 # Shares
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if shares is iterable %}
	<ul class="{{ html_classes( 'inline-flex', 'gap-2', classes | default( [] ) | join( ' ' ) ) }}">
		{% for share in shares %}
			<li>
				<a
					class="{{ html_classes( 'button-circle', dark ? 'button-dark' ) }}"
					href="{{ share.link }}{{ current_url }}" target="_blank" rel="noopener noreferer"
				>
					{{- icon( share.slug ) -}}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
