{#
 # Tease: Member
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<a
	id="tease-member-{{ post.id }}"
	href="{{ post.link }}"
	class="{{ html_classes( classes | default( [] ) | join( ' ' ), 'block pb-4 border-b border-theme-red lg:h-full group', post.class | join( ' ' ) ) }}"
>
	<div class="h-[16.5rem] lg:h-[29.5rem] bg-theme-gray relative pb-[100%] lg:pb-0">
		<div class="absolute text-xs mt-3 mx-4 uppercase font-black tracking-widest text-white inset-x-0 top-0 z-20">
			{{- post.terms( { taxonomy: 'member_cat' } ) | join( ', ' ) -}}
		</div>

		{% if post.thumbnail %}
			{% embed 'components/duotone.html.twig' with { classes: [ 'absolute', 'inset-0', 'lg:relative', 'overflow-hidden', 'w-full', 'h-full', 'z-10', 'lg:group-hover:after:opacity-0', 'lg:group-hover:before:opacity-0', 'lg:group-focus:after:opacity-0', 'lg:group-focus:before:opacity-0', 'after:transition-opacity', 'before:transition-opacity', 'after:duration-1000', 'before:duration-1000', 'after:ease-in-out', 'before:ease-in-out' ] } %}
				{% block content %}
					{{- include( 'components/image.html.twig', {
						classes: [
							'transition-transform',
							'duration-1000',
							'ease-in-out',
							'lg:group-hover:scale-105',
							'lg:group-focus:scale-105',
							'relative',
							'z-10',
							'w-full',
							'h-full',
							'object-cover',
							'object-center'
						],
						image: post.thumbnail,
						size: 'size-4'
					} ) -}}
				{% endblock %}
			{% endembed %}

		{% endif %}
	</div>
	<div class="mt-4 flex justify-between">
		<div class="font-light">
			<p class="text-lg">{{- post.title -}}</p>
			{{- post.meta( 'job_title' ) ? '<p class="text-sm">' ~ post.meta( 'job_title' ) ~ "</p>" -}}
		</div>
		<p class="button-circle flex-shrink-0 ml-3 lg:group-focus:text-theme-blue lg:group-focus:bg-theme-red lg:group-focus:border-theme-red lg:group-hover:text-theme-blue lg:group-hover:bg-theme-red lg:group-hover:border-theme-red">
			{{- icon( 'arrow-right' ) -}}
		</p>
	</div>
</a>
