{#
 # Tease: Post
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<a href="{{ post.link }}" class="{{ html_classes( 'group pb-2.5 block border-b border-theme-red', classes | default( [] ) | join( ' ' ) ) }}">
	<div class="h-[16.5rem] bg-theme-gray pb-[100%] lg:pb-0 relative overflow-hidden">
		<div class="absolute mt-3 mx-4 uppercase font-medium tracking-widest text-xs text-white inset-x-0 top-0 z-20">
			{{- post.terms( { taxonomy: 'category' } ) | join( ', ' ) -}}
		</div>
		{{- include( 'components/image.html.twig', {
			classes: [
				'absolute',
				'inset-0',
				'lg:relative',
				'transition-transform',
				'duration-1000',
				'ease-in-out',
				'group-hover:scale-105',
				'group-focus:scale-105',
				'w-full',
				'h-full',
				'object-cover',
				'object-center'
			],
			image: post.thumbnail,
			size: size | default( 'size-3' )
		} ) -}}
	</div>
	<div class="mt-4 flex justify-between">
		<p class="text-base font-light">{{ post.title }}</p>
		<p class="button-circle flex-shrink-0 ml-3 group-focus:text-theme-blue group-focus:bg-theme-red group-focus:border-theme-red group-hover:text-theme-blue group-hover:bg-theme-red group-hover:border-theme-red">
			{{- icon( 'arrow-right' ) -}}
		</p>
	</div>
</a>
