{#
 # Tease: Case study
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<a href="{{ post.link }}" class="{{ html_classes( classes | default( [] ) | join( ' ' ), 'block group pb-2.5 border-b border-theme-red lg:h-full' ) }}">
	<div class="lg:h-[21.75rem] relative bg-theme-gray pb-[100%] lg:pb-0">
		{{- include( 'components/image.html.twig', {
			classes: [
				'absolute',
				'inset-0',
				'block',
				'transition-opacity',
				'duration-1000',
				'ease-in-out',
				'group-hover:opacity-0',
				'group-focus:opacity-0',
				'w-full',
				'h-full',
				'object-cover',
				'object-center',
				'z-20'
			],
			image: post.thumbnail,
			size: 'size-4'
		} ) -}}
		{{- include( 'components/image.html.twig', {
			classes: [
				'absolute',
				'inset-0',
				'block',
				'transition-opacity',
				'duration-1000',
				'ease-in-out',
				'opacity-0',
				'group-hover:opacity-100',
				'group-focus:opacity-100',
				'w-full',
				'h-full',
				'object-cover',
				'object-center',
				'z-10'
			],
			image: post.meta( 'logo' ),
			size: 'size-4'
		} ) -}}
	</div>
	<div class="mt-4 flex justify-between">
		<div class="font-light">
			<p class="text-lg">{{ post.title }}</p>
			{{- post.terms( { taxonomy: 'university' } ) ? '<p class="text-sm">' ~ post.terms( { taxonomy: 'university' } ) | join( ', ' ) ~ '</p>' -}}
		</div>
		<p class="button-circle flex-shrink-0 ml-3 group-focus:text-theme-blue group-focus:bg-theme-red group-focus:border-theme-red group-hover:text-theme-blue group-hover:bg-theme-red group-hover:border-theme-red">
			{{- icon( 'arrow-right' ) -}}
		</p>
	</div>
</a>
