{#
 # Archive: Case Study
 #
 # @package WordPress
 # @subpackage CreatorFund
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}

	<div
		data-module-load-more-posts
		data-load-more-posts-posts-per-page="{{ push.link.url ? 7 : 8 }}"
		data-load-more-posts-post-type="case_study"
	>

		<input type="hidden" name="view" value="{{ view }}" data-load-more-posts="view" />

		{% if post.meta( 'taxonomies' ) %}
			<div class="container my-9">
				<div class="row">
					<div>
						{% embed 'components/filters.html.twig' %}
							{% block header %}
								<{{ view == 'list' ? "a href=\"#{ post.link }view/gallery\"" : 'p' }} class="{{ html_classes( 'block', 'lg:inline-flex', 'grow', 'lg:grow-0', 'button',  view == 'list' ? '' : '!bg-theme-black !border-theme-black !text-theme-white' ) }}">
									{{- __( 'Gallery', 'creatorfund' ) -}}
								</{{ view == 'list' ? 'a' : 'p' }}>

								<{{ view == 'list' ? 'p' : "a href=\"#{ post.link }view/list\"" }} class="{{ html_classes( 'block', 'lg:inline-flex', 'grow', 'lg:grow-0', 'button',  view == 'list' ? '!bg-theme-black !border-theme-black !text-theme-white' ) }}">
									{{- __( 'List view', 'creatorfund' ) -}}
								</{{ view == 'list' ? 'p' : 'a' }}>
							{% endblock %}

							{% block body %}

								{{- parent() -}}

								{% import 'macros/forms.html.twig' as forms %}

								{% for taxonomy in post.meta( 'taxonomies' ) %}
									{{-
										forms.checkboxes(
											{
												attributes: { 'data-load-more-posts': 'filter' },
												classes: [ 'w-24' ],
												name: taxonomy.value,
												options: get_terms( { post_type: 'case_study', taxonomy: taxonomy.value, orderby: 'term_order', hide_empty: false } ) | map( term => ( { value: term.term_id, title: term.name } ) ),
												title: taxonomy.label
											}
										)
									-}}
								{% endfor %}
							{% endblock %}
						{% endembed %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if view == 'list' %}
			<div
				class="container divide-y-[1px] transition-opacity duration-1000 ease-in-out"
				data-load-more-posts="container"
				data-module-accordion
			>
				{{- include( 'components/collection-case-study-list.html.twig', { posts: post.posts[:8] } ) -}}
			</div>
		{% else %}
			<div class="container">
				<div
					class="row gap-y-6 lg:gap-y-10 transition-opacity duration-1000 ease-in-out"
					data-load-more-posts="container"
				>
					{{- include( 'components/collection-case-study-gallery.html.twig', { push: post.meta( 'push' ), posts: post.posts[:8] } ) -}}
				</div>
			</div>
		{% endif %}

		<button
			class="button mx-auto mt-9"
			type="button"
			data-load-more-posts="button"
			style="display: {{ post.posts.found_posts > 12 ? 'block' : 'none' }}"
		>
			{{- __( 'Load more', 'creatorfund' ) -}}
		</button>
	</div>
{% endblock %}
