{#
 # Archive: Fund
 #
 # @package WordPress
 # @subpackage CreatorFund
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}

	<div class="space-y-8 lg:space-y-16">

		<div class="relative text-white pt-[9.5rem] lg:pt-60 pb-12 lg:pb-36 after:z-20 after:absolute after:inset-0 after:bg-gradient-to-t lg:after:bg-gradient-to-l after:from-theme-black">
			<div class="container relative z-30">
				<div class="row">
					<div class="lg:col-4/12 lg:ml-7/12">
						<h2 class="text-xl lg:text-2xl font-bold">{{- post.meta( 'hero' ).title -}}</h2>
						<div class="wysiwyg mt-4 lg:mt-6">{{- post.meta( 'hero' ).content -}}</div>

						<a href="{{ post.meta( 'hero' ).link.url }}" class="mt-6 button button-white"{{ post.meta( 'hero' ).link.target ? ' rel="noopener noreferer" target="_blank"' }}>
							{{- post.meta( 'hero' ).link.title -}}
							{{- icon( 'arrow-right' ) -}}
						</a>
					</div>
				</div>
			</div>
			{% embed 'components/duotone.html.twig' with { classes: [ 'inset-0', 'absolute', 'z-10' ] } %}
				{% block content %}
					{{- include( 'components/image.html.twig', { image: post.meta( 'hero' ).image, classes: [ 'w-full', 'h-full', 'object-fit', 'object-cover' ], size: 'size-full' } ) -}}
				{% endblock %}
			{% endembed %}
		</div>

		{% if post.sticky_fund %}
			<div class="container">
				<article class="border border-theme-gray">
					<div class="row my-4">
						<div class="lg:col-5/12">
							<div class="mx-4 lg:mr-0 h-[22rem] lg:h-[27.5625rem] bg-theme-gray">
								{{-
									include(
										'components/image.html.twig', { classes: [ 'w-full', 'h-full', 'object-cover', 'object-center' ], image: post.sticky_fund.thumbnail,
										size: 'size-5' } )
								-}}
							</div>
						</div>
						<div class="lg:col-6/12 lg:ml-1/12 mt-4 lg:mx-0 lg:mt-5">
							<div class="mx-4 lg:ml-0 gap-y-4 lg:gap-y-8 flex flex-col">
								<h2 class="text-xl lg:text-2xl font-bold">{{- post.sticky_fund.title -}}</h2>
								<div class="wysiwyg text-sm lg:text-base lg:mt-5">{{- post.sticky_fund.content -}}</div>
								{{- include( 'components/fund-meta.html.twig', { fund: post.sticky_fund } ) -}}
							</div>
						</div>
					</div>
				</article>
			</div>
		{% endif %}

		{% if post.funds is not empty %}
			<div class="container">
				<div class="row gap-y-8 lg:gap-y-10">
					{% for fund in post.funds %}
						<div class="lg:col-4/12">
							<article class="flex h-full flex-col border border-theme-gray p-5 lg:p-9 gap-y-4 lg:gap-y-8">
								<h2 class="text-xl lg:text-2xl font-bold">{{- fund.title -}}</h2>
								<div class="wysiwyg text-sm lg:text-base">{{- fund.content -}}</div>

								{{- include( 'components/fund-meta.html.twig', { fund: fund } ) -}}
							</article>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

	</div>
{% endblock %}
