{#
 # Home
 #
 # @package WordPress
 # @subpackage CreatorFund
 #}

{% extends 'index.html.twig' %}

{% import 'macros/forms.html.twig' as forms %}

{% block content %}
	{{ parent() }}

	<div
		class="container space-y-9"
		data-module-load-more-posts
		data-load-more-posts-found-posts="{{ posts.found_posts }}"
		data-load-more-posts-posts-per-page="12"
		data-load-more-posts-post-type="post"
	>

		<div class="row">
			<div>

				{% embed 'components/filters.html.twig' with { reset: true } %}
					{% block body %}
						{{- parent() -}}
						{% import 'macros/forms.html.twig' as forms %}
						{{-
							forms.checkboxes(
								{
									attributes: { 'data-load-more-posts': 'filter' },
									classes: [ 'w-24' ],
									name: 'category',
									options: get_terms( { post_type: 'post', taxonomy: 'category', orderby: 'term_order', hide_empty: false } ) | map( term => ( { value: term.term_id, title: term.name } ) ),
									title: __( 'Categories', 'creatorfund' ),
								}
							)
						-}}

						{{-
							forms.checkboxes(
								{
									attributes: { 'data-load-more-posts': 'filter' },
									classes: [ 'w-24' ],
									name: 'post_tag',
									options: get_terms( { post_type: 'post', taxonomy: 'post_tag', orderby: 'term_order', hide_empty: false } ) | map( term => ( { value: term.term_id, title: term.name } ) ),
									title: __( 'Tags', 'creatorfund' ),
								}
							)
						-}}
					{% endblock %}
				{% endembed %}
			</div>
		</div>

		<div class="transition-opacity duration-1000 ease-in-out" data-load-more-posts="container">
			{{- include( 'components/collection-post.html.twig', { posts: posts } ) -}}
		</div>

	</div>
{% endblock %}
